.figure-container {
  fill: transparent;
  stroke: #ceffb1;
  stroke-width: 8px;
  stroke-linecap: round;
}

.wrong-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 40px;
}

.wrong-container p {
  margin: 0 0 5px;
}

.wrong-container span {
  font-size: 24px;
}

.word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.word-change {
  display: flex;
}

.letter {
  color: white;
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  padding: 0 20px;
  height: 50px;
  width: 20px;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #2980b9;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: #fff;
  color: #2980b9;
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: 0;
}

.notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -50px;
  transition: transform 0.3s ease-in-out;
}

.notification-container p {
  margin: 0;
}

.notification-container .show {
  transform: translateY(-50px);
}

.key {
  width: 50px;
  height: 50px;
  text-align: center;
  align-items: center;
  padding: 7px;
  margin: 10px;
  background-color: rgba(128, 128, 128, 0.5);
  border: 3px solid grey;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.key:hover {
  background-color: #222222;
  border: 3px solid white;
  color: white;
}

.keyboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
}

.text {
  color: white;
}

.red {
  background: red;
  pointer-events: none;
}

.green {
  background: green;
  pointer-events: none;
}
