body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url(components/images/bg.jpg);
  background-size: 100%;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  color: #ceffb1;
  background: #3c217a;
  text-align: center;
  font-family: "Russo One", sans-serif;
}

.container