$primaryColor: rgb(206, 255, 177);
$secondaryColor: rgb(60, 33, 122);

h1 {
  padding: 20px;
  color: $primaryColor;
  background: $secondaryColor;
  text-align: center;
  font-family: "Russo One", sans-serif;
}

.sub-header {
  padding: 5px;
  color: $primaryColor;
  font-size: 20px;
  font-weight: 800;
  justify-content: center;
  display: flex;
  justify-content: space-between;
}

.button {
  color: $secondaryColor;
  border-radius: 15px;
  background-color: $primaryColor;
  margin-bottom: 8px;

  &:hover {
    color: $primaryColor;
    background-color: $secondaryColor;
  }
}

img