.nav {
  background: rgb(184, 184, 184);
  margin: 0 275px;
  padding: 10px;
  border-radius: 15px;
}

.nav-link {
  font-size: 20px;
  font-weight: bold;
}

.nav-link:hover {
  background: blue;
  color: rgb(184, 184, 184);
}

.user {
  font-
}